:root {
  --main-font: Roboto; sans-serif;
  --secondary-font: Raleway; sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196F3;
  --margin-bottom-title: 50px;
}

.link {
text-decoration: none;
}

.list {
list-style: none;
}

.address {
font-style: normal;
margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}


.logo-light {
color: #ffffff;
}

.logo-dark {
color: #212121
}

.adress-link-light {
/*color: #ffffff;*/
}

.adress-link-dark {
/*color: #ffffff99;*/
}

body {
font-family: var(--main-font);
color: var(--main-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /*background: rgb(168, 38, 38);*/
}

/*==========COMPONENTS===========*/
.logo {
font-family: var(--secondary-font);
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.logo-item {
font-family: var(--secondary-font);
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
}

.title {
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}

/*==========END COMPONENTS===========*/

/*==========HEADER===========*/
.navigation-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-font);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.mail-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-color);
}

.mail-link:hover,
.mail-link:focus {
color: var(--accent-color);
}

.tel-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-color);
}

.tel-link:hover,
.tel-link:focus {
color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.navigation-adress {
  display: flex;
  margin-left: auto;
  }

.navigation-list {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 25px; 
  padding-bottom: 25px; 
  }

.header .logo {
  margin-right: 93px;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-adress-item:not(:last-child) {
  margin-right: 50px;
}
/*==========END HEADER===========*/

/*==========HERO===========*/
.hero {
  padding-top: 200px;
  padding-bottom: 210px;
}

.hero .container {
  align-items: center;
  }

.hero-title {
  margin-bottom: 40px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
/*color: #FFFFFF;*/
}

.hero-btn {
font-weight: bold;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background: var(--accent-color);
cursor: pointer;
margin: auto;
}
/*==========END HERO===========*/

/*==========PRIORITIES===========*/
.priorities .container {
 display: flex;
  align-items: center;
  }

.priorities-title {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.priorities-description {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-color);
}

.priorities-list {
  display: flex;
} 

/*==========END PRIORITIES===========*/

/*=======organization`s activities=======*/
.work .container {
 align-items: center;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-list {
   display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.work-item {
   flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.work> .container .title {
  margin-bottom: var(--margin-bottom-title);
}
/*=======END organization`s activities=======*/

/*==========TEAM===========*/
.team .container {
 align-items: center;
}
.name-person {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}

.position {
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-color);
}

.team> .container .title {
  margin-bottom: var(--margin-bottom-title);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team-item-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*==========END TEAM===========*/

/*==========FOOTER===========*/
.footer .container {
display: flex;
flex-direction: column;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
 }

.adress-link {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-font);
}

.adress-link:hover,
.adress-link:focus {
color: var(--accent-color);
}

/*==========END FOOTER===========*/


/*=========================PORTFOLIO======================*/


/*=====NAVIGATION THROUGH PROJECTS=====*/
.navigation-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.63;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
}

.navigation-btn:hover,
.navigation-btn:focus {
color: #ffffff;
background: var(--accent-color);
}
/*=====END NAVIGATION THROUGH PROJECTS=====*/

/*=============WORK EXAMPLES==============*/
.name-project {
font-weight: bold;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
}

.style-project {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--secondary-color);
}
/*=============END WORK EXAMPLES==============*/